<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dark side of cgs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        .nav > li:hover .dropdown-menu {
            display: block;
            background-color: black;
            color: #ffffff !important;
        }
        footer {
            background-color: black;
            color: white;
        }
    </style>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dark side of cgs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand page-scroll" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="page-scroll" href="#articles">思维碎片</a></li>
                    <li class="dropdown">
                        <a href="#hobby" class="dropdown-toggle page-scroll" data-toggle="dropdown">存在的证据</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("纸做的墙", "Index", "Books")</li>
                            <li>@Html.ActionLink("浮光掠影", "Index", "Movies")</li>
                            <li>@Html.ActionLink("雁过留声", "Index", "Music")</li>
                            <li>@Html.ActionLink("另一场人生", "Index", "Games")</li>
                        </ul>

                    </li>
                    <li><a class="page-scroll" href="#footprint">走过的路</a></li>
                    <li><a class="page-scroll" href="#now">此时此刻</a></li>
                    <li><a class="page-scroll" href="#contact">在这里找到我</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <div class="container text-center">
            <a href="#intro" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-up animated"></i>
            </a>
            <hr style="border:black"/>
            <p>&copy; @DateTime.Now.Year - Dark side of cgs</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
