@model IEnumerable<CgsSite.Web.Models.ListArticleModel>
@{
    ViewBag.Title = "另一块砖";
}
@foreach (var model in Model)
{
    <h2>
        @Html.ActionLink(model.Subject, "Detail", new { id = model.Id,@class="ariticle-subject" })
    </h2>
    @Html.Partial("ArticleHeader", model)
    <p>@Html.Raw(model.Body) @Html.ActionLink("阅读全文", "Detail", new { id = model.Id })</p>
}
<div id="paging">
    @if (ViewBag.pageIndex > 1)
    {
        @Html.ActionLink("上一页", "Index", new { page = ViewBag.pageIndex - 1 });
        if (ViewBag.nextPage != -1)
        {
            <text>|</text>
        }
    }
    @if (ViewBag.nextPage != -1)
    {
        @Html.ActionLink("下一页", "Index", new { page = ViewBag.nextPage });
    }
</div>
